*{
    font-family: Georgia, 'Times New Roman', Times, serif
}
#header{
    text-align: center;
    width: 100%;
}

#legend{
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 20px;
    width: 40%;
    margin: auto;
}

nav{
    border: 1px solid gray;
    margin-top: 30px;
    text-align: center;
    width: 60%;
    margin: auto;
}

nav a {
    display: block;
}
nav a :nth-child(even){
    background-color: lightgray;
}